:root {
    --fondo--oscuro: #272727;
    --text-ligth: #f1eded;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: var(--fondo--oscuro);
}

main {
    margin-bottom: 200px;
}

h1 {
    margin: 37% 37%;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
    font-size: 3.2rem;
    color: var(--text-ligth);
    font-family: Georgia;
    background-color: rgb(37, 36, 121);
    text-align: center;
    border: #f1eded solid 1px;
}

ul {
    display: -webkit-inline-flex;
    margin: 15px 15px;
} 

li {
    margin: 20px;
    font-size: 2.2rem;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman';
    border-radius: 7px;
}

.carne {    
    width: 23%;
    padding: 6px;
    transform:translateX(145px);
    list-style: inside;
    font-size: 2.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(202, 38, 38);
    border: 2px solid rgb(0, 0, 0);
}

.verduras {
    width: 30%;
    padding: 6px;
    transform:translateX(127px);
    list-style: inside;
    font-size: 2.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(49, 192, 56);
    border: 2px solid;
}

.miselaneos {
    width: 35%;
    padding: 6px;
    transform:translateX(126px);
    list-style: inside;
    font-size: 2.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(202, 125, 38);
    border: 2px solid;
}

ol {
    max-width: 540;
    margin: 10px 10px;
    padding: 10px;
    border: var(--text-ligth) 1px ridge;
    border-radius: 20px;
    background-color: rgb(22, 37, 63);
}

li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: var(--text-ligth);    
}

img {
    height: 25%;
    width: 100%;
    border-radius: 5px;
    display: list-item;
}

footer {
    padding-bottom: 15px;
    text-align: center;
    font-size: 1.8rem;
    text-decoration: none;
    color: rgb(32, 138, 139);
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;    
    text-decoration: none;
    color: var(--text-ligth);
}

.imagen {
    height: 50px;
    width: 50px;
    margin: 10px;
}
